<div class="container container-sm">
  <div class="board__title">
    <h1>Mine Sweeper Board Generator </h1>
  </div>
  <div class="board__header">
    <h3>Recent Boards</h3>
    <%= link_to "Create New Board", new_board_path %>
  </div>
    
  <div>
    <ul class="board__list">
      <%= render BoardListItemComponent.with_collection(@boards) %>
    </ul>
  </div>
  <div class="centered-link">
    <%= link_to "View all generated boards", boards_path %>
  </div>
</div>
