<div class="container container-sm">
  <div class="board__title">
    <h1>Mine Sweeper Board Generator </h1>
  </div>
  <div class="board__header">
    <h3>Last 10 Boards</h3>
    <%= link_to "Create New Board", new_board_path %>
  </div>
    
  <div>
    <ul class="board__list">
      <%= render BoardListItemComponent.with_collection(Board.latest_ten) %>
    </ul>
  </div>
</div>
